.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.logo {
  display: flex;
  align-items: center;
}

.logoText {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 10px;
  color: var(--text-color);
}

.navLinks {
  display: flex;
  gap: 30px;
}

.navLink {
  text-decoration: none;
  color: var(--text-light-color);
  font-weight: 500;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: var(--text-color);
}

.hamburger {
  display: none; /* Escondido por padrão */
  flex-direction: column;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: var(--text-color);
  margin-bottom: 4px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .logoText {
    display: none;
  }

  .navLinks {
    display: none; /* Esconde os links */
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 80px; /* Altura do header */
    left: 0;
    background-color: var(--primary-color);
    padding: 1rem 0;
  }

  .navLinksMobileOpen {
    display: flex; /* Mostra quando o menu está aberto */
  }

  .hamburger {
    display: flex; /* Mostra o botão do sanduíche */
  }
}

.themeToggleContainer {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.themeToggleContainer span {
  font-size: 1.2rem;
}

.switchWrapper {
  position: relative;
  top: -8px; 
  display: flex;
  align-items: center;
}
