.headerContainer {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 20px;
  text-align: center;
  position: relative; /* Para posicionar o botão */
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--border-color);
  margin-bottom: 2rem;
}

.mainTitle {
  margin: 0;
  font-size: 2.5em;
}

.subtitle {
  margin: 5px 0 0;
  font-size: 1.2em;
}

.themeToggle {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: var(--button-background);
  color: var(--button-text);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.themeToggle:hover {
  background-color: var(--button-hover-background);
}
