.headerContainer {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 20px;
  text-align: center;
  position: relative; /* Para posicionar o botão */
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--border-color);
  margin-bottom: 2rem;
}

.mainTitle {
  margin: 0;
  font-size: 2.5em;
}

.subtitle {
  margin: 5px 0 0;
  font-size: 1.2em;
}

.themeToggleContainer {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.themeToggleContainer span {
  font-size: 1.2rem;
}

@media (max-width: 767px) {
  .themeToggleContainer {
    top: -10px; 
  }
}

.switchWrapper {
  position: relative;
  top: -8px; 
  display: flex;
  align-items: center;
}

.navButton {
  background-color: var(--accent-color);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  display: inline-block;
}

.navButton:hover {
  background-color: var(--accent-color-dark);
}