.fieldContainer {
    margin-bottom: 1rem;
}

.label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: var(--text-color);
}

.input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background-color: var(--input-background-color);
    color: var(--text-color);
}

.input::placeholder {
  color: var(--text-light-color);
  opacity: 1; /* Firefox */
}

.inputError {
    border-color: var(--error-color);
}


.errorMessage {
    color: var(--error-color);
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

.labelContainer {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Isso vai empurrar o ícone para a direita */
    margin-bottom: 0.5rem;
}

.helpContainer {
    position: relative;
    margin-left: 0.5rem;
    display: inline-block;
}

.helpIcon {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.tooltip {
    visibility: hidden;
    width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.helpContainer:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
